body{
    font-family: 'Pacifico', cursive;
}
article1 {
  box-shadow: 10px 15px;
}
.Paget  itle {
    text-align: center;
    padding-top: 110px;
}
.newsletter {
    text-align: center;
    padding: 115px;
    border: 10px solid black;
    box-shadow: 15px 15px;
    
    
}